@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* dash header customize design */
.tab {
	font-weight: 600;
	color: black;
	margin: 0px 5px;
	border: 1px solid blueviolet;
	border-radius: 5px;
}
.tab:hover {
	background-color: #570df8;
	color: white;
}

.banner-bg {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.overlay-bg {
	background-color: rgba(0, 0, 0, 0.4);
}
.__PrivateStripeElement {
	overflow: scroll !important;
}
@media only screen and (max-width: 860px) {
	.carousel-title-br {
		display: none;
	}
}
@media only screen and (max-width: 500px) {
	.profile-name {
		display: none;
	}
	.InputElement {
		display: block !important;
	}
}
@media only screen and (max-width: 420px) {
	.course-title {
		font-size: 20px;
	}
}
@media only screen and (max-width: 350px) {
	.course-title-p {
		display: none;
	}
	.course {
		top: 35%;
	}
}
